<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  <form action="http://localhost:3000/data/add/" method="post">
    <input type="hidden" name="data" value="data available">
    <button type="submit">Submit</button>
  </form>
  </body>
</html>
